@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

:root {
  --Primary-color: #161617;
  --second-color: #e00000;
  --text-color-white: #e2dede;
  --text-color-black: #505050;
  --p-color-black: #777777;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  height: 250px;
}

/*stop scrolling*/
.stop-scrolling {
  overflow-y: hidden;
}
/* back to top button*/
.backToTop {
  display: flex;
  z-index: 20;
  position: fixed;
  bottom: 10px;
  right: 5px;
  padding: 15px 30px;
  background: var(--second-color);
  cursor: pointer;
  visibility: hidden;
  opacity: 1;
}
.backToTop i {
  font-size: 20px;
  color: var(--text-color-white);
}
.backToTop a {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-white) !important;
}
.Show-backtotop-btn {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}
/* Section's description*/
.section-description {
  padding: 0 200px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: var(--text-color-black);
}
/* Section's title*/
.section-title {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
  color: var(--Primary-color);
  text-align: center;
}
/*Padding for all website's parts*/
.section-padding {
  padding: 100px 60px;
}
/* Cookies */
.close-cookies {
  display: none;
}
.cookies {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #333;
  max-width: 400px;
  padding: 15px;
  opacity: 1;
  background-color: rgba(25, 25, 25, 0.92);
  width: 100%;
  font-size: 13px;
  z-index: 13;
}
.cookies .cookies-container {
  display: block;
  padding: 5px 0px;
}
.cookies .cookies-container h2 {
  text-align: center;
  color: var(--text-color-white);
  font-weight: 600;
  line-height: 10px;
  font-size: 18px;
}
.cookies .cookies-container p {
  padding: 5px 0px;
  color: var(--p-color-black);
  line-height: 22px;
  font-size: 13px;
}
.cookies i {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
  font-size: 15px;
  z-index: 100;
  color: var(--second-color);
}
.cookies a {
  list-style: none;
  background: var(--second-color);
  padding: 6px 15px;
  margin-right: 15px;
  text-decoration: none !important;
  color: #eeeeee !important;
  z-index: 100;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Underline title*/
.underline {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}
.underline .under-one {
  height: 3px;
  width: 50px;
  display: block;
}
.underline .under-two {
  display: block;
  height: 3px;
  margin-right: 10px;
  width: 10px;
}
/*onscroll animation*/
.reveal-loaded [class*="reveal-"] {
  opacity: 0;
  transform: translateY(30px);
  transition: 0s;
}
.reveal-loaded .reveal-visible {
  opacity: 1;
  transform: translateY(0px);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
.reveal-loaded .reveal-2 {
  transition-delay: 0.1s;
}
.reveal-loaded .reveal-3 {
  transition-delay: 0.2s;
}
.reveal-loaded .reveal-4 {
  transition-delay: 0.3s;
}
.reveal-loaded .reveal-5 {
  transition-delay: 0.4s;
}
/*------------------------------------------------------Acceuil---------------------------------------------------------*/
.home-section {
  min-height: 100vh;
  display: block;
  background-color: #fff;
}

.header-container {
  align-self: flex-end;
  z-index: 20;
  width: 100%;
}
.header-container header .MenuPlusLogo {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  min-width: 100%;
}

.header-container header .MenuPlusLogo .logo-header {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--Primary-color);
}
.header-container header .MenuPlusLogo .logo-header span {
  font-family: "Poppins", sans-serif;
  color: var(--second-color);
  font-weight: 700;
  font-size: 22px;
}
.header-container header .MenuPlusLogo .mobile-navbar {
  width: 55%;
}
.header-container header .MenuPlusLogo .mobile-navbar ul {
  z-index: 13;
  text-align: right;
  margin: auto 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li {
  list-style: none;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13.5px;
  font-weight: 600;
  padding: 6px;
  color: var(--Primary-color);
  text-decoration: none;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li a:hover,
header .mobile-navbar ul li a.active {
  color: var(--second-color);
  font-weight: 600;
}
.header-container header .MenuPlusLogo ul li a:hover:before,
header ul li a.active:before {
  width: 100%;
}
.fix-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  color: var(--text-color-white);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}
.fix-navbar .MenuPlusLogo {
  transition: 1.5s;
  background: #fff;
}

.home-description-container .home-description-content {
  display: flex;
  padding-right: 60px;
}
.home-description-container .home-description-content .home-description {
  z-index: 5;
  width: 600px;
  background-color: rgba(25, 25, 25, 0.97);
  color: var(--text-color-white);
  padding: 30px;
  margin-right: -100px;
  align-self: center;
}
.home-description-container .home-description-content .home-description h1 {
  font-size: 35px;
  font-weight: 700;
}
.home-description-container .home-description-content .home-description p {
  font-size: 15px;
  line-height: 27.3px;
  color: var(--p-color-black);
}

.home-description-container .home-description-content .home-description button {
  text-decoration: none;
  outline: none;
  border: none;
  padding: 15px 40px;
  background-color: var(--second-color);
  font-size: 17px;
  color: var(--text-color-white);
  cursor: pointer;
}
.home-description-container .home-description-content .home-description button:hover {
  background-color: var(--Primary-color);
  border: none;
  outline: none;
  color: var(--second-color);
  font-weight: 500;
}

.home-description-container .home-description-content .img-description {
  height: 480px;
  width: 100%;
  position: relative;
  z-index: 4;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}
.home-description-container .home-description-content .img-description .black-backgr {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}
.home-description-container .home-description-content .img-description img {
  position: relative;
  height: 480px;
  width: 100%;
  opacity: 1;
  z-index: 3;
}
.home-description-container .home-description-content .img-description .carreau-style {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid var(--second-color);
  padding: 30px;
  margin-bottom: -20px;
  margin-left: -20px;
  z-index: 1;
}
.home-description-container .home-description-content .img-description .carreau2-style {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  background-color: var(--second-color);
  margin-top: -12px;
  margin-left: -12px;
  z-index: 1;
}

.home-description-container .home-description-content .img-description .next-section {
  position: absolute;
  z-index: 6;
  right: 0;
  bottom: 0;
}
.home-description-container .home-description-content .img-description .next-section a {
  text-decoration: none;
  outline: none;
}
.home-description-container .home-description-content .img-description .next-section i {
  margin: 0;
  padding: 25px 30px;
  font-size: 30px;
  color: var(--text-color-white);
  background-color: var(--second-color);
}
.social-icons .icons {
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
}
.social-icons .icons li {
  list-style: none;
  padding: 0 10px;
}
.social-icons .icons li:last-child {
  padding-right: 0;
}
.social-icons .icons li a i {
  color: var(--second-color);
  font-size: 23px;
}
.social-icons .icons li a i:hover {
  color: var(--Primary-color);
}

@media (min-width: 771px) and (max-width: 1025px) {
  .home-section {
    position: relative;
    min-height: 100vh;
    padding: 0px 20px 0 0px;
  }
  .home-description-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-description-container .home-description-content {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 0;
    transform: translate(-0, -50%);
  }
  .header-container {
    position: relative;
    display: block;
  }
  .header-container header .MenuPlusLogo {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }
  .MenuPlusLogo .toggle {
    position: relative;
    width: 60px;
    height: 35px;
    cursor: pointer;
    z-index: 22;
  }
  .MenuPlusLogo .toggle span {
    position: absolute;
    right: 0;
    background: var(--third-color);
    width: 50px;
    height: 2.5px;
    transition: 0.6s;
  }
  .MenuPlusLogo .toggle .one {
    top: 0;
  }
  .MenuPlusLogo .toggle .two,
  .MenuPlusLogo .toggle .three {
    top: 16px;
    background: var(--second-color);
    width: 30px;
  }
  header .toggle .four {
    top: 30px;
  }
  .header-container header .MenuPlusLogo .active .one,
  .header-container header .MenuPlusLogo .active .four {
    display: none;
  }
  .header-container header .MenuPlusLogo .active .two {
    transform: rotate(45deg);
    width: 45px;
    background: var(--second-color);
  }
  .header-container header .MenuPlusLogo .active .three {
    transform: rotate(-45deg);
    width: 45px;
    background: var(--third-color);
  }
  .header-container header .MenuPlusLogo .mobile-navbar.active {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .header-container header .MenuPlusLogo .mobile-navbar {
    padding: 100px 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--text-color-white);
    z-index: 20;
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul {
    display: block;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li {
    width: 100%;
    padding: 20px 0;
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li a {
    z-index: 6;
    text-decoration: none;
    color: var(--third-color);
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
  }
  .header-container header .MenuPlusLogo ul li a:hover,
  .header-container header .MenuPlusLogo ul li a.active {
    font-weight: 700;
  }

  .fix-navbar {
    display: none;
  }
  .stop-scrolling {
    overflow-y: hidden;
  }
  .social-icons .icons li {
    margin-left: 10px;
  }
}

@media (max-width: 770px) {
  .home-section {
    position: relative;
    min-height: 100vh;
    display: block;
  }
  .header-container {
    position: relative;
    display: block;
  }
  .header-container header .MenuPlusLogo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .MenuPlusLogo .toggle {
    position: relative;
    width: 60px;
    height: 35px;
    cursor: pointer;
    z-index: 22;
  }
  .MenuPlusLogo .toggle span {
    position: absolute;
    right: 0;
    background: var(--third-color);
    width: 50px;
    height: 2.5px;
    transition: 0.6s;
  }
  .MenuPlusLogo .toggle .one {
    top: 0;
  }
  .MenuPlusLogo .toggle .two,
  .MenuPlusLogo .toggle .three {
    top: 16px;
    background: var(--second-color);
    width: 30px;
  }
  header .toggle .four {
    top: 30px;
  }
  .header-container header .MenuPlusLogo .active .one,
  .header-container header .MenuPlusLogo .active .four {
    display: none;
  }
  .header-container header .MenuPlusLogo .active .two {
    transform: rotate(45deg);
    width: 45px;
    background: var(--second-color);
  }
  .header-container header .MenuPlusLogo .active .three {
    transform: rotate(-45deg);
    width: 45px;
    background: var(--third-color);
  }
  .header-container header .MenuPlusLogo .mobile-navbar.active {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .header-container header .MenuPlusLogo .mobile-navbar {
    padding: 100px 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--text-color-white);
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul {
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li {
    width: 100%;
    padding: 20px 0;
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li a {
    z-index: 6;
    text-decoration: none;
    color: var(--third-color);
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
  }
  .header-container header .MenuPlusLogo ul li a:hover,
  .header-container header .MenuPlusLogo ul li a.active {
    font-weight: 700;
  }

  .fix-navbar {
    display: none;
  }
  .stop-scrolling {
    overflow-y: hidden;
  }
  .home-description-container {
    padding: 0px 10px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-description-container .home-description-content {
    display: block;
    padding: 0;
  }

  .home-description-container .home-description-content .home-description {
    width: 100%;
    background-color: var(--second-color);
    color: var(--Primary-color);
    padding: 10px;
    margin-right: 0px;
    align-self: center;
    margin-bottom: 20px;
  }
  .home-description-container .home-description-content .home-description h1 {
    font-size: 25px;
  }
  .home-description-container .home-description-content .home-description p {
    font-size: 15px;
  }

  .home-description-container .home-description-content .home-description button {
    padding: 10px 20px;
    background-color: var(--third-color);
  }

  .home-description-container .home-description-content .img-description .next-section i {
    margin: 0;
    padding: 15px 20px;
    font-size: 20px;
    color: var(--Primary-color);
    background-color: var(--second-color);
  }

  .home-description-container .home-description-content .img-description .carreau-style {
    padding: 10px;
    margin-bottom: -5px;
    margin-left: -5px;
  }
  .home-description-container .home-description-content .img-description .carreau2 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    background-color: var(--second-color);
    margin-top: -7px;
    margin-left: -7px;
    z-index: 1;
  }
  .social-icons {
    align-self: flex-start;
  }
  .social-icons .icons {
    display: flex;
  }
  .social-icons .icons li {
    margin-left: 0;
  }
  .social-icons .icons li a {
    margin-right: 15px;
  }
  .container {
    min-height: 100vh;
  }
  .Fixed {
    position: absolute;
  }
}
/***************************************************** QUI-SUIS-JE ***************************************************/
.qui-suis-je {
  background-color: var(--Primary-color);
  min-height: 100vh;
  position: relative;
}
.qui-suis-je .section-container {
  display: flex;
  width: 100%;
  position: relative;
}
.qui-suis-je .section-container .content-box {
  width: 50%;
  color: var(--text-color-white);
  margin-right: 60px;
}
.qui-suis-je .section-container .content-box .underline .under-two {
  background-color: var(--second-color);
}
.qui-suis-je .section-container .content-box .underline .under-one {
  background-color: var(--text-color-white);
}

.qui-suis-je .section-container .content-box h2 {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0;
}
.qui-suis-je .section-container .content-box p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 27.3px;
  color: var(--p-color-black);
}
.qui-suis-je .section-container .img-box {
  position: relative;
  z-index: 4;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.qui-suis-je .section-container .img-box .black-backgr {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}

.qui-suis-je .section-container .img-box img {
  border: 10px solid var(--text-color-white);
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
}
.qui-suis-je .section-container .img-box .carreau-style {
  position: absolute;
  top: 0;
  border: 2px solid var(--second-color);
  padding: 30px;
  margin-top: -30px;
  left: 0;
  margin-left: -30px;
  z-index: 1;
}
.qui-suis-je .section-container .img-box .carreau2 {
  position: absolute;
  bottom: 0;
  border: 2px solid var(--second-color);
  padding: 30px;
  margin-bottom: -30px;
  right: 0;
  margin-right: -30px;
  z-index: 1;
}
.icons {
  display: flex;
  margin-top: 20px;
}
.icons .icon {
  position: relative;
  display: flex;
}
.icons .icon li {
  list-style: none;
  margin-right: 10px;
  padding: 10px 14px;
  background-color: var(--second-color);
  border-radius: 50%;
  cursor: pointer;
}
.icons .icon li:nth-child(3) {
  padding: 10px 15px;
}
.icons .icon li i {
  display: inline-block;
  font-size: 18px;
  color: var(--text-color-white);
}
.icons .icon li:hover i {
  color: var(--Primary-color);
}
@media (max-width: 767px) {
  .section-padding {
    display: block;
  }
  .qui-suis-je .section-container {
    padding: 100px 10px;
  }
  .qui-suis-je .section-container .img-box {
    width: 100%;
  }

  .qui-suis-je .section-container .img-box img {
    min-height: 400px;
  }
  .qui-suis-je .section-container .img-box .carreau-style {
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
  }
  .qui-suis-je .section-container .img-box .carreau2 {
    padding: 10px;
    margin-bottom: -10px;
    margin-right: -10px;
  }
  .qui-suis-je .section-container .content-box {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
}
/*------------------------------------------------------NOS SERVICES----------------------------------------------------*/

#Services {
  background: #f6f6f6;
}

#Services .section-container .content-box .underline {
  justify-content: center;
}
#Services .section-container .content-box .underline .under-one {
  background-color: var(--Primary-color);
  text-align: center;
}
#Services .section-container .content-box .underline .under-two {
  text-align: center;
  background-color: var(--second-color);
}
#Services .section-container .services-box {
  margin-top: 100px;
}
.services-box .services-content .service {
  display: flex;
  justify-content: space-between;
}
.line-style {
  width: 5px;
  min-height: 100%;
  position: relative;
  background-color: rgb(221, 221, 221);
  z-index: 1;
  margin: 0 40px;
}
.circle1-style {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid var(--second-color);
  position: absolute;
  bottom: 0%;
  margin-left: -3.5px;
  background-color: var(--second-color);
  z-index: 2;
}
.circle2-style {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid var(--second-color);
  position: absolute;
  top: 0%;
  margin-left: -3.5px;
  background-color: var(--second-color);
  z-index: 2;
}

.services-box .services-content .service .service-img {
  width: 50%;
  height: 400px;
  position: relative;
}
.services-box .services-content .service .service-img .black-backgr {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}
.services-box .services-content .service .service-img .carreau-style {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
  border: 2px solid var(--second-color);
  z-index: 1;
}
.services-box .services-content .service .service-img .carreau1-style {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
  border: 2px solid var(--second-color);
  z-index: 1;
}

.services-box .services-content .service .service-img img {
  position: absolute;
  width: 100%;
  z-index: 2;
  opacity: 1;
  height: 100%;
}

.services-box .services-content .service .service-description {
  padding: 40px 0;
  width: 50%;
}
.services-box .services-content .service .service-description .underline {
  padding-top: 7px;
}
.services-box .services-content .service .service-description .underline .under-one {
  width: 80px;
  background-color: var(--second-color);
}
.services-box .services-content .service .service-description h3 {
  color: var(--Primary-color);
  text-transform: uppercase;
  font-size: 25px;
  line-height: 27px;
  font-weight: 700;
}
.services-box .services-content .service .service-description p {
  color: var(--text-color-black);
  font-size: 15px;
  line-height: 25.3px;
  font-weight: 400;
  margin-bottom: 20px;
}
.services-box .services-content .service .service-description a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--second-color);
  color: var(--text-color-white);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
}
.services-box .services-content .service .service-description a:hover {
  background-color: var(--Primary-color);
}

@media (max-width: 767px) {
  #Services {
    padding: 100px 15px;
  }
  #Services .section-container .content-box .title-section {
    font-size: 30px;
  }
  #Services .section-container .content-box p {
    font-size: 13px;
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .services-box .services-content .service {
    display: block;
    margin-bottom: 40px;
  }
  .line-style {
    display: none;
  }
  .services-box .services-content .service .service-img .carreau-style {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    border: 2px solid var(--second-color);
    z-index: 1;
  }
  .services-box .services-content .service .service-img .carreau1-style {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    border: 2px solid var(--second-color);
    z-index: 1;
  }
  .services-box .services-content .service .service-description .underline {
    padding-top: 5px;
  }
  .services-box .services-content .service .service-description h3 {
    font-size: 15px;
  }
  .services-box .services-content .service .service-description p {
    font-size: 14px;
  }
  .services-box .services-content .service .service-description a {
    font-size: 11px;
  }

  .services-box .services-content .service .service-img {
    margin-top: 20px;
  }
  .services-box .services-content .service .service-img img {
    height: 100%;
    margin-bottom: 20px;
  }
  .services-box .services-content .service .service-img,
  .services-box .services-content .service .service-description {
    width: 100%;
  }
  .services-box .services-content .service .service-description {
    padding: 20px 5px;
  }
}
/*----------------------------------------------------------------------Témoignages-------------------------------------------*/
#Temoignages {
  background-color: var(--Primary-color);
  color: var(--text-color-white);
  min-height: 100vh;
}
.temoignage-section .section-container {
  z-index: 2;
  position: relative;
}

.temoignage-section .section-container .content-box {
  position: relative;
  z-index: 2;
}
.temoignage-section .section-container .content-box .section-title {
  color: var(--text-color-white);
}
.temoignage-section .section-container .content-box .underline {
  justify-content: center;
}
.temoignage-section .section-container .content-box .underline .under-one {
  background-color: var(--text-color-white);
}
.temoignage-section .section-container .content-box .underline .under-two {
  background-color: var(--second-color);
}
.row {
  padding: 100px 300px;
  z-index: 2;
}
.col-md-12 {
  position: relative;
  padding: 0 !important;
}
#client-temoignage {
  margin: 0;
  background-color: #fff;
}

.col-md-12 .carreau1-style {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 60px;
  height: 60px;
  border: 2px solid var(--second-color);
}
.col-md-12 .carreau-style {
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: var(--second-color);
}

#client-temoignage .temoignage {
  padding: 25px 10px;
}

#client-temoignage .temoignage i {
  font-size: 60px;
  margin-bottom: 0px;
  color: var(--second-color);
  opacity: 0.7;
  margin-bottom: 20px;
}

.temoignage blockquote {
  font-size: 16px;
  line-height: 29px;
  border: 0;
  font-size: italic;
  color: var(--text-color-black);
  position: relative;
  text-align: center;
}
.temoignage blockquote:before,
.temoignage blockquote:after {
  font-size: 80px;
  font-size: normal;
  line-height: 1px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.temoignage-auteur p {
  color: var(--text-color-black);
  font-size: 15px;
}
.temoignage-auteur img {
  width: 80px;
  height: 80px;
}
.temoignage-auteur p strong {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
}
.owl-theme .owl-dots .owl-dot span {
  background-color: var(--second-color) !important;
  border-radius: 0 !important;
  width: 25px !important;
  height: 4px !important;
  margin: 15px 2px !important;
  outline: none;
}
.owl-theme .owl-dots .active span {
  background-color: var(--Primary-color) !important;
}
/*------------------------------------------------------CONTACT ----------------------------------------------------*/
#Contact {
  background: #f6f6f6;
  min-height: 100vh;
}
.Contact-section .section-container .content-box {
  width: 80%;
  color: var(--third-color);
}
.Contact-section .section-container .content-box .title-section {
  font-weight: 800;
  color: var(--Primary-color);
}
.Contact-section .section-container .content-box .underline {
  justify-content: center;
}
.Contact-section .section-container .content-box .underline .under-one {
  background-color: var(--Primary-color);
}
.Contact-section .section-container .content-box .underline .under-two {
  background-color: var(--second-color);
}

.Contact-section .section-container .content-box {
  position: relative;
  width: 100%;
}

.Contact-section .section-container .contact-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 100px;
}
.contact-container .bord {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: var(--second-color);
  width: 30px;
  height: 30px;
  z-index: 2;
}
.contact-container .bord5 {
  position: absolute;
  bottom: -15px;
  left: -15px;
  background-color: var(--second-color);
  width: 30px;
  height: 30px;
  z-index: 2;
}

.contact-container .contactForm {
  position: relative;
  width: 50%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 60px;
  z-index: 3;
  background-color: #fff;
}

.contact-container .contactForm h2 {
  font-size: 30px;
  color: var(--second-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.contact-container.contactForm .inputbox {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.contact-container .contactForm .inputbox input,
.contact-container .contactForm .inputbox textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid var(--second-color);
  outline: none;
  resize: none;
  color: var(--text-color-black);
}
.contact-container .contactForm .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 14.5px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--Primary-color);
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
  color: var(--Primary-color);
  font-size: 14px;
  transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"] {
  min-width: 160px;
  background: var(--second-color);
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 27px;
  font-weight: lighter;
  color: var(--text-color-white);
  text-transform: uppercase;
  font-weight: 600;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.contactForm .inputbox input[type="submit"] {
  padding: 10px 20px;
  width: 100px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.contactForm .inputbox input[type="submit"]:hover {
  background: var(--Primary-color);
  color: var(--text-color-white);
}
.contact-container .contact-img-part {
  position: relative;
  width: 50%;
}

.contact-img-part .bord0 {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 30px;
  width: 30px;
  background-color: var(--second-color);
  z-index: 4;
}
.contact-img-part .bord1 {
  position: absolute;
  bottom: -15px;
  right: -15px;
  height: 30px;
  width: 30px;
  background-color: var(--second-color);
  z-index: 4;
}
.contact-container .contact-img-part .black-backgr {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}

.contact-container .contact-img-part .contact-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/contact.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.modal-container {
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}
.modal-container.show {
  visibility: visible;
  z-index: 3000000000000000000000000000000000000000000000000;
}

.modal-container .confirmation-modal {
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
  border-radius: 2px;
  background: var(--text-color-white);
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.modal-container .confirmation-modal h1 {
  text-align: left;
  font-size: 26px;
  color: var(--second-color);
  padding-bottom: 20px;
  border-bottom: 0.1px solid rgb(189, 188, 188);
}
.modal-container .confirmation-modal h1 i {
  color: green;
  font-size: 32px;
  margin-left: 4px;
}
.modal-container .confirmation-modal p {
  text-align: left;
  font-size: 14px;
  opacity: 0.7;
  padding: 20px 0px;
  line-height: 22.5px;
}
.modal-container .confirmation-modal button {
  background: var(--second-color);
  border: none;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 7px 35px;
  color: var(--text-color-white);
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
}
.erreur {
  background: #ffe0e0;
  padding: 10px 10px;
  margin-bottom: 15px;
  color: #262626;
  font-size: 13px;
  display: none;
}
.erreur i {
  font-size: 16px;
  margin-right: 5px;
  color: #262626;
}

.nom.show,
.prenom.show,
.mobile.show,
.email.show,
.objet.show {
  display: block;
}

@media (max-width: 767px) {
  .Contact-section .content-box .description-section {
    padding: 0;
  }
  .Contact-section .section-padding .contact-container {
    display: block;
  }

  .contact-container .contactForm {
    width: 100%;
    padding: 20px;
  }
  .Contact-section .section-padding .contact-container .contact-img-part {
    width: 100%;
  }
  .Contact-section .section-padding {
    padding: 100px 15px;
  }
  .Contact-section .section-padding .contact-container .contact-img-part .contact-image {
    min-height: 450px;
    position: relative;
  }
}

/*----------------------------------------------------------------------FOOTER*-------------------------------------------*/
.footer {
  position: relative;
  background: var(--Primary-color);
}
.all-footer-parts {
  display: flex;
  justify-content: space-between;
}
.brand-description h2,
.plan-site h2,
.contactfoot h2,
.horaire h2,
.inscription-newsletter h2 {
  color: var(--text-color-white);
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.brand-description {
  width: 40%;
  padding-right: 35px;
}
.plan-site,
.contactfoot,
.inscription-newsletter {
  width: 30%;
}
.brand-description .underline,
.plan-site .underline,
.contactfoot .underline,
.horaire .underline,
.inscription-newsletter .underline {
  padding-top: 8px;
}
.brand-description .underline .under-one,
.plan-site .underline .under-one,
.contactfoot .underline .under-one,
.horaire .underline .under-one,
.inscription-newsletter .underline .under-one {
  background-color: var(--text-color-white);
}
.brand-description .underline .under-two,
.plan-site .underline .under-two,
.contactfoot .underline .under-two,
.horaire .underline .under-two,
.inscription-newsletter .underline .under-two {
  background-color: var(--second-color);
}

.brand-description p,
.inscription-newsletter p {
  color: var(--p-color-black);
  font-size: 14px;
  line-height: 25.8px;
  font-weight: 400;
}
.inscription-newsletter .newsletter {
  display: flex;
  padding: 2px 0px;
}
.inscription-newsletter .newsletter .input {
  background: var(--text-color-white);
  border: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 11px;
  margin-right: 3px;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: var(--second-color);
}
.inscription-newsletter .newsletter .button {
  display: block;
  background: var(--second-color);
  border: none;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 550;
  font-size: 12px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.inscription-newsletter .newsletter .button:hover {
  background: #fff;
  color: var(--Primary-color);
}
.brand-description .footer-icons {
  padding: 2px 0;
}
.brand-description .footer-icons ul {
  display: flex;
  list-style: none;
}
.brand-description .footer-icons ul li {
  background: var(--second-color);
  padding: 5px 12px;
  margin-right: 10px;
  border-radius: 50%;
}
.brand-description .footer-icons ul li:last-child {
  padding: 5px 14px;
}
.brand-description .footer-icons ul li a {
  text-decoration: none;
}
.brand-description .footer-icons ul li a i {
  color: var(--text-color-white);
  font-size: 17px;
}
.horaire {
  border: none;
}
.plan-site ul {
  list-style: none;
}
.plan-site ul li {
  padding: 5px 0px;
}
.plan-site ul li:first-child {
  padding-top: 0px;
}

.plan-site ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--p-color-black);
  font-size: 14px;
  line-height: 21.8px;
  font-weight: 400;
}
.plan-site ul li a:hover {
  color: var(--text-color-white);
}
.plan-site ul li a i {
  color: var(--second-color);
  padding-right: 5px;
  font-size: 14px;
}
.contactfoot .container-footer div {
  padding-bottom: 15px;
  display: flex;
}
.contactfoot .container-footer div span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21.8px;
  color: var(--p-color-black);
  text-align: left;
}
.contactfoot .container-footer div span i {
  font-size: 20px;
  color: var(--second-color);
  cursor: pointer;
  margin-right: 10px;
}

.contactfoot .container-footer div span i:hover {
  color: var(--text-color-white);
}
.contactfoot .container-footer div span .fa-envelope {
  font-size: 17px;
}
@media (max-width: 767px) {
  .all-footer-parts {
    display: block;
    padding: 40px 15px;
  }

  .all-footer-parts .plan-site,
  .all-footer-parts .contactfoot,
  .all-footer-parts .horaire,
  .all-footer-parts .inscription-newsletter {
    width: 100%;
    padding: 20px 0;
  }
  .all-footer-parts.inscription-newsletter {
    padding-bottom: 0;
  }
  .all-footer-parts {
    width: 100%;
    margin-left: 0px;
  }

  .brand-description {
    width: 100%;
  }
  .brand-description p {
    font-size: 13px;
  }
  .brand-description h2,
  .plan-site h2,
  .contactfoot h2,
  .horaire h2,
  .inscription-newsletter h2 {
    font-size: 22px;
  }
  .brand-description,
  .plan-site,
  .contactfoot,
  .horaire {
    width: 100%;
    border: none;
  }
  .plan-site ul li a {
    font-size: 13px;
  }
  .contactfoot .container-footer span {
    font-size: 13px;
  }
  .horaire .horaire-douveture {
    font-size: 13px;
  }
  .inscription-newsletter p {
    font-size: 13px;
  }
  .inscription-newsletter .newsletter .button {
    font-size: 11px;
  }
}
/*---------------------------------------------------------COPYRIGHT---------------------------------------------------*/
.Copyright {
  background: var(--text-color-white);
  padding: 20px 60px;
  color: var(--text-color-black);
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
}
.Copyright span {
  font-weight: 500;
}

.Copyright a {
  text-transform: uppercase;
  color: var(--text-color-black);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.Copyright a:hover {
  text-decoration: underline;
  color: var(--second-color);
}
@media (max-width: 767px) {
  .Copyright {
    padding: 10px 15px;
    font-size: 13px;
  }
  .Copyright a {
    font-size: 13px;
  }
}
